/* vim:set sw=4 ts=4 sts=4 ft=css expandtab smartindent: */
/*
 * panneaux
 */
body {
    font-family: 'Voces', cursive;
    font-weight: bold;
}
#logo-no-es-una-crisis {
    padding-top: 15px;
    padding-left: 10px;
}
#pan-title {
    padding-top: 70px;
}
#portraits-link-right {
    color: black;
    margin-right: 1em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#portraits-link {
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 90%!important;
}

.popover-block {
    margin-left: 5%;
    margin-right: auto;
    display: none;
    margin-top: 10%;
    background-color: white;
    border: 1px solid grey;
    float:left;
    padding: 0.5em 1em;
    border-radius: 3px;
    opacity: 0.8;
    text-align: center;
}
.popover-block h2 {
    font-size: 110%;
    font-weight: bolder;
    font-variant: small-caps;
}

.popover-block p {
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
}


#menu-portrait {
    background-image: url("../img/0-Communs/textures/fd_skip-revert.png");
    background-repeat: no-repeat;
    color: blue;
    width: 146px;
    height: 164px;
    margin-top: -23px;
    padding-top: 30px;
    padding-right: 15px;
}
#pan-menu-gauche,
#pan-menu-droite {
    padding-top: 15px;
}
#pan-menu-gauche ul li,
#pan-menu-droite ul li {
    padding-right: 5px;
    padding-left: 5px;
}
#pan-menu-mirage,
#pan-menu-saccage,
#pan-menu-revolte,
#pan-menu-no-future {
    height: 50px;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: right 0px bottom 0px;
    background-color: transparent;
    padding-top: 15px;
    margin-left:auto;
    margin-right:auto;
}
#pan-menu-mirage {
    background-image: url("../img/0-Communs/textures/navigation_buttons/mirage_button_1.png");
    color: #187EA8;
}
#pan-menu-saccage {
    background-image: url("../img/0-Communs/textures/navigation_buttons/saccage_button_1.png");
    color: #6C5EA7;
}
#pan-menu-revolte {
    background-image: url("../img/0-Communs/textures/navigation_buttons/revolte_button_1.png");
    color: #BA2930;
}
#pan-menu-no-future {
    background-image: url("../img/0-Communs/textures/navigation_buttons/nofuture_button_1.png");
    color: #5C5C64;
}
#pan-menu-mirage:hover {
    background-image: url("../img/0-Communs/textures/navigation_buttons/mirage_button_2.png");
}
#pan-menu-saccage:hover {
    background-image: url("../img/0-Communs/textures/navigation_buttons/saccage_button_2.png");
}
#pan-menu-revolte:hover {
    background-image: url("../img/0-Communs/textures/navigation_buttons/revolte_button_2.png");
}
#pan-menu-no-future:hover {
    background-image: url("../img/0-Communs/textures/navigation_buttons/nofuture_button_2.png");
}
#pan-menu-mirage.active,
#pan-menu-saccage.active,
#pan-menu-revolte.active,
#pan-menu-no-future.active {
    color: white;
}
#pan-menu-mirage.active {
    background-image: url("../img/0-Communs/textures/navigation_buttons/mirage_button_3.png");
}
#pan-menu-saccage.active {
    background-image: url("../img/0-Communs/textures/navigation_buttons/saccage_button_3.png");
}
#pan-menu-revolte.active {
    background-image: url("../img/0-Communs/textures/navigation_buttons/revolte_button_3.png");
}
#pan-menu-no-future.active {
    background-image: url("../img/0-Communs/textures/navigation_buttons/nofuture_button_3.png");
}
#pan-volume,
#pan-full-screen {
    font-size: 175%;
}
#pan-full-screen {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.dropdown-menu.pan-share {
    min-width: 50px;
}
.dropdown-menu > li > a.pan-share-icon {
    display: inline;
    padding: 10px;
    font-size: 2em;
}

/*
 * Accueil
 */
#accueil-blog {
    background-image: url("../img/0-Communs/textures/fd-blog.png");
    background-repeat: no-repeat;
    width: 145px;
    height: 93px;
}
#accueil-blog div{
    background-color: #B20000;
    width: 75px;
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    padding-top: 7px;
}
#accueil-lang {
    padding: 10px;
}
#pan-content.accueil {
    background-image: url("../img/0-Communs/textures/homepage_fond.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#pan-content.accueil #pan-title{
    background-image: url("../img/0-Communs/textures/homepage_fond_splash_blanc.png");
    background-repeat: no-repeat;
    background-position: top center;
}

/*
 * Menu mobile
 */
button.navbar-toggle {
    background-color: black;
}
.navbar-toggle .icon-bar {
    background-color: white;
}
#menu-mobile {
    color: white;
}
#menu-bas {
    height: 50px;
}

#menu-bas-droite {
    padding-right: 15px;
}
